.button
{
    -fx-background-color: #1b1b1ba2;
    -fx-text-fill: #ffffff;
}
.button:hover
{
    -fx-background-color: #525252;
    -fx-scale-x: 0.9;
    -fx-scale-Y: 0.9;

}
.background
{
    -fx-background-image: url("./image/Bibliotheque_003.jpg");
}
.login_card
{
    -fx-background-color: #6b6b6bcb;
    -fx-background-radius: 30px;
    -fx-padding: 20px;
    -fx-border-color: #964300;
    -fx-border-width: 2px;
}